.git
.gitignore

docker-compose.yaml
Dockerfile
.dockerignore

*.md
README.md

.vscode
.idea

.DS_Store
Thumbs.db

*.log
*.tmp
*.swp

node_modules

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
