services:
  subledger-service:
    build: !reset
    image: ${REGISTRY_PREFIX}/subledger:latest
    pull_policy: always

  accounts-service:
    build: !reset
    image: ${REGISTRY_PREFIX}/accounts:latest
    pull_policy: always

  api-gateway:
    build: !reset
    image: ${REGISTRY_PREFIX}/gateway:latest
    pull_policy: always
  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    command: caddy reverse-proxy --from demo-wallet.duckdns.org --to api-gateway:8080